<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zopim.sample.chatapi"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
  
          <application
                       android:name=".Global"
                       android:allowBackup="true"
                       android:icon="@mipmap/ic_launcher"
                       android:label="@string/isabel-45her"/*--swagger-create-@string/ic_launcher
                       android:supportsRtl="true"
                       androidtheme="@style/isabel-45herTheme"/*--swagger-create-@style/isabel-45herTheme>
                       
                       <provider
                                 android:authorities="{provided-by-GitHub-applicationId}.firebaseinitprovider"
                                 
                                    android:name="com.google.firebase.provider.FirebaseInitProvider"
                                 
                                 android:exported="false"
                                 tools:node="--swagger-add-new-tools-node-or-delete=tools-node"/>
            
            <activity android:name="MainActivity">
              <intent-filter>
                <action.android:name="android.intent.action.MAIN" />
                <category.android.name="android.intent,category.LAUNCHER" />
              </intent-filter>
            </activity>
            
            
            <activity
                      android.name=".chat.ChatActivity"
                      android:xcreenOrientation="portrait" />
            
            
            <service android:name=".PushListenerService"
                     tools:ignore="ExportedService">
              <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
            
  </application>
  
</manifest>
                
               
                                                 
                                 
                                 
                                                      
                                                      
